Resources:
  AWSEBAutoScalingLaunchConfiguration:
    Type: "AWS::AutoScaling::LaunchConfiguration"
    Properties:
      BlockDeviceMappings:
        - DeviceName: "/dev/sdh"  # This may vary based on the instance type and OS
          Ebs:
            VolumeType: "gp2"  # This specifies a General Purpose SSD
            VolumeSize: 30  # Specifies the volume size in GB
